services:
  instore_api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: instore_api
    restart: unless-stopped
    ports:
      - "9001:9001"
    volumes:
      - .:/var/www/html
    networks:
      - app-network
    environment:
      - DB_HOST=db
      - DB_PORT=3307
      - DB_DATABASE=back_office
      - DB_USERNAME=root
      - DB_PASSWORD=root
    command: >
      /bin/sh -c "php artisan serve --host=0.0.0.0 --port=9001"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: back_office
    ports:
      - "3307:3307"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
    command: >
      /bin/sh -c "
      sleep 10 && \
      mysql -h db -u root -p'root' -e 'CREATE DATABASE IF NOT EXISTS back_office'"

networks:
  app-network:
    driver: bridge

volumes:
  db_data: